<mat-card class="cardWithShadow m-t-16">
  <mat-card-content>
    <div class="d-flex">
      <div class="m-r-auto m-b-8">
        <mat-card-title>Servicios</mat-card-title>
        <mat-card-subtitle>Lista de servicios</mat-card-subtitle>
      </div>
      <div>
        <a [routerLink]="['/dashboard/services/create']">
          <button mat-flat-button color="primary" class="m-r-8">Añadir servicio</button>
        </a>
      </div>
    </div>
    <div class="table-responsive">
      <table class="w-100">
        <thead>
          <tr>
            <th class="f-w-600 f-s-14">ID Servicio</th>
            <th class="f-w-600 f-s-14">Cliente</th>
            <th class="f-w-600 f-s-14">Factura</th>
            <th class="f-w-600 f-s-14">Fecha Apertura</th>
            <th class="f-w-600 f-s-14">Fecha Cierre</th>
            <th class="f-w-600 f-s-14">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of services">
            <td class="text-center">{{ service.serviceId }}</td>
            <td class="text-center">{{ service.clientId }}</td>
            <td class="text-center">{{ service.bill }}</td>
            <td class="text-center">{{ service.datetimeOpen | date:'short' }}</td>
            <td class="text-center">{{ service.datetimeClose ? (service.datetimeClose | date:'short') : '-' }}</td>
            <td class="text-center">
              <button (click)="deleteService(service.serviceId)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
              <button [routerLink]="['/dashboard/services/edit', service.serviceId]" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card> 